@use '../landing/flex' as *;

.body {
    color: #69665C;
    header {
        position: fixed;
        background-color: white;
        z-index: 900;
        width: 100%;
        @include flexCenter;
            justify-content: space-between;
        h2 {
                font-size: 3.5rem;        
            }

        p {
            
            
        }
    }
    aside, section {
        margin-top: 50px;
    }
}
aside {
    height: 88vh;
    position: fixed;

    p {
        cursor: pointer;
        @include flexCenter;
        justify-content: start;
        background-color: #FFF9DE;
        padding: .8rem 1rem;
        border-radius: .8rem;
        -webkit-border-radius: .8rem;
        -moz-border-radius: .8rem;
        -ms-border-radius: .8rem;
        -o-border-radius: .8rem;

        svg {
            width: 1.3em;
        }

        select {
            width: 100%;
            color: #69665C;
            border: none;
            background-color: transparent;
            &:focus {
                outline: none;
            }

        }
        @media (max-width: 991px) {
            text-align: center;
            display: block;
        }
}
}


section {
    margin-left: auto;
    .todos {
        .todo {
            background-color: #FFF9DE;
            border-radius: .8rem;
            -webkit-border-radius: .8rem;
            -moz-border-radius: .8rem;
            -ms-border-radius: .8rem;
            -o-border-radius: .8rem;
            svg.lucide-square-check-big
            {
                color: #80be75;
            }
            svg.lucide-x {
                color: rgb(224, 57, 57);
            }
            @media (min-width: 768px) {                
                >div {
                    width: 33%;
                }
                >div:nth-child(2) {
                    text-align: center;
                }
                >div:last-of-type {
                    text-align: end;
                }
            }
        }
    }
}


.popup-content {
    
    padding: 3rem;
    border-radius: 1rem;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
    @media (max-width: 991px) {
            & {
                width: 95%;
            }
        }

    .popup {
        form {
            label {
                font-size: 1.3rem;
                font-weight: 500;
            }
            input {
                display: block;
                width: 100%;
                margin: .5rem auto ;
                padding: .8rem 1rem;
                background-color: #f3f2f2;
                border: none;
                border-radius: 1rem;
                -webkit-border-radius: 1rem;
                -moz-border-radius: 1rem;
                -ms-border-radius: 1rem;
                -o-border-radius: 1rem;
                &:focus {
                    outline: none;
                }
            }
            .submit {
                padding: .8rem 2.5rem;
            }
        }
        .close {
            position: absolute;
            top: .5rem;
            right: 2rem;
            font-size: 1.8rem;
            color: rgb(224, 57, 57);
            background-color: transparent;
            border-radius: 50%;
            border: none;
            -webkit-border-radius: 50%;
            -moz-border-radius: 50%;
            -ms-border-radius: 50%;
            -o-border-radius: 50%;
            &:focus {
                outline: none;
            }
}
    }
}



.priority {
    div {
        cursor: pointer;
        width: 2rem;
        height: 2rem;
        border-radius: 50%;
        outline: none;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
        &:focus {
            outline: 2px solid #69665C;
        }
}
    .high {
        background-color: rgb(224, 57, 57);
    }
    .med {
        background-color: rgb(249, 228, 0);
    }
    .low {
        background-color: #80bc75;
    }
}